* {
  font-family: 'Lato', sans-serif;
  color: #2d3c49;
}

/* Header */

header {
  padding: 20px 0 0 0;
}

header img {
  width: 64px;
  background-color: #fff;
}

header h1 {
  font-weight: 300;
  font-size: 32px;
}

header h3 {
  font-size: 14px;
}

.thick {
  border: 2px solid #7d97ad;
  margin: 20px 0;
}

/* Hero area */

.hero {
  background: #000 url(../img/herobg_full.jpg) center center / cover no-repeat;
  height: 500px;
  margin: 0 0 30px 0;
}

.hero-content {
  height: 100%;
  text-shadow: 0 0 15px #444;
  padding: 30px;
}

.hero-content h2 {
  font-size: 36px;
  color: #fff;
}

.hero-content p {
  color: #eee;
}

/* Featured Works area */

.featured-work h2 {
  padding: 0 0 10px 20px;
  color: #7d97ad;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.works {
  padding: 0 0 30px 0;
}

.works img {
  margin: 0 0 10px 0;
}

.works a {
  color: #2d3c49;
  font-weight: 300;
}
