* {
  font-family: 'Lato', sans-serif;
  color:#2d3c49;
}

/* Header */

header {
  padding:20px 0 0 0;
}

header img {
  width:64px;
  background-color:#fff;
}

header h1 {
  font-weight:300;
  font-size:2rem;
}

header h3 {
  font-size:.9rem;
}

.thick {
  border:2px solid #7d97ad;
  margin:20px 0;
}

/* Hero area */

.hero {
  background:url(../img/herobg_full.jpg) no-repeat center center;
  background-size:cover;
  height:500px;
  margin:0 0 20px 0;
  padding:30px;
}

.hero-content {
  height:100%;
  text-shadow:0 0 15px #444;
}

.hero-content h2 {
  font-size:2.5rem;
  color:#fff;
}

.hero-content p {
  color:#eee;

}

/* Featured Works area */

#featured-work h2 {
  padding:0 0 10px 20px;
  color:#7d97ad;
  font-weight:300;
  letter-spacing:.05em;
}

.works img {
  margin: 0 0 10px 0;
}

.works a {
  color:#2d3c49;
}
